[submodule "/home/c/.dotfiles/vim/bundle/vim-pathogen"]
	path = /home/c/.dotfiles/vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "/home/c/.dotfiles/vim/bundle/nerdtree"]
	path = /home/c/.dotfiles/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/vim-move"]
	path = vim/bundle/vim-move
	url = https://github.com/matze/vim-move.git
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
