[user]
  name = Christopher Manning
  #email is read from GIT_AUTHOR_EMAIL and GIT_COMMITTER_EMAIL set in ~/.zshenv
[core]
  excludesfile = ~/.gitignore_global
[merge]
  tool = vimdiff
[web]
	browser = chromium

